<?xml version="1.0"?>
<launch>
  <env name="GAZEBO_MODEL_PATH"
       value="$(find turtlebot3_gazebo)/models:$(find turtlebot3_gazebo)/models/destruction:$(optenv GAZEBO_MODEL_PATH)"/>

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-1.67"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/last_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf_next/turtlebot3_moguarder.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
        args="-urdf -model turtlebot3_moguarder -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y -1.55 -param robot_description" />
</launch>
