<?xml version="1.0"?>
<model>
  <name>Person Standing (OSRF)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Marina Kollmitz</name>
    <email>kollmitz@cs.uni-freiburg.de</email>
  </author>

  <description>
    站立行人 - 基于 OSRF person_standing，MakeHuman 创建 Model created with Makehuman (http://www.makehuman.org/)
  </description>
</model>
