<?xml version="1.0"?>

<model>
  <name>Other Waste Bin (OSRF)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    其他垃圾桶 - 基于 OSRF first_2015_trash_can 改造，灰色桶身
  </description>
</model>
