<?xml version="1.0"?>
<robot name="turtlebot3_moguarder_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual" default="true"/>
  <xacro:arg name="imu_visual"   default="false"/>

  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="center_body_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="front_shell_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="rear_module_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="front_bumper_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="left_side_plate_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="right_side_plate_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="lidar_mount_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="lidar_guard_left_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="lidar_guard_right_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="top_comm_module_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="top_payload_deck_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="front_yellow_trim_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="left_yellow_trim_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="right_yellow_trim_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="sensor_bridge_left_post_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="sensor_bridge_right_post_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="sensor_bridge_crossbar_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="front_sensor_bezel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="left_sensor_bezel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_sensor_bezel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="deck_fastener_fl_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="deck_fastener_fr_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="deck_fastener_rl_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="deck_fastener_rr_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="wheel_left_front_link">
    <mu1>1.00</mu1>
    <mu2>0.35</mu2>
    <kp>800000.0</kp>
    <kd>8.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="wheel_right_front_link">
    <mu1>1.00</mu1>
    <mu2>0.35</mu2>
    <kp>800000.0</kp>
    <kd>8.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="wheel_left_rear_link">
    <mu1>1.00</mu1>
    <mu2>0.35</mu2>
    <kp>800000.0</kp>
    <kd>8.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="wheel_right_rear_link">
    <mu1>1.00</mu1>
    <mu2>0.35</mu2>
    <kp>800000.0</kp>
    <kd>8.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <visualize>$(arg imu_visual)</visualize>
    </sensor>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo>
    <plugin name="moguarder_skid_steer_controller" filename="libgazebo_ros_skid_steer_drive.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <updateRate>50</updateRate>
      <leftFrontJoint>wheel_left_front_joint</leftFrontJoint>
      <rightFrontJoint>wheel_right_front_joint</rightFrontJoint>
      <leftRearJoint>wheel_left_rear_joint</leftRearJoint>
      <rightRearJoint>wheel_right_rear_joint</rightRearJoint>
      <wheelSeparation>0.210</wheelSeparation>
      <wheelDiameter>0.090</wheelDiameter>
      <torque>18</torque>
      <broadcastTF>true</broadcastTF>
      <publishWheelTF>false</publishWheelTF>
      <publishWheelJointState>true</publishWheelJointState>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <frameName>imu_link</frameName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>0</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>

  <gazebo reference="base_scan">
    <material>Gazebo/FlatBlack</material>
    <sensor type="ray" name="moguarder_low_lidar">
      <pose>0 0 0 0 0 0</pose>
      <visualize>$(arg laser_visual)</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>6.28319</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.080</min>
          <max>4.0</max>
          <resolution>0.010</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.005</stddev>
        </noise>
      </ray>
      <plugin name="moguarder_lidar_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>base_scan</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="left_range_link">
    <material>Gazebo/Black</material>
    <sensor type="ray" name="moguarder_left_range">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.030</min>
          <max>0.8</max>
          <resolution>0.005</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.003</stddev>
        </noise>
      </ray>
      <plugin name="moguarder_left_range_controller" filename="libgazebo_ros_laser.so">
        <topicName>left_range_scan</topicName>
        <frameName>left_range_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="right_range_link">
    <material>Gazebo/Black</material>
    <sensor type="ray" name="moguarder_right_range">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.030</min>
          <max>0.8</max>
          <resolution>0.005</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.003</stddev>
        </noise>
      </ray>
      <plugin name="moguarder_right_range_controller" filename="libgazebo_ros_laser.so">
        <topicName>right_range_scan</topicName>
        <frameName>right_range_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>
