<?xml version="1.0"?>
<model>
  <name>Person Walking Pose (OSRF)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Marina Kollmitz</name>
    <email>kollmitz@cs.uni-freiburg.de</email>
  </author>

  <description>
    行走姿态行人 - 基于 OSRF person_walking 改造，静态迈步姿态 Model created with Makehuman (http://www.makehuman.org/)
  </description>
</model>
